.article-list {
  overflow: auto;
  height: 100%;
  padding: 1rem;
}

.grid {
  padding: 16px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 16px;

  overflow: auto;
}
