<mat-card class="article-card">
  <img class="photo" [routerLink]="article?.id" mat-card-image [src]="photo" />
  <mat-card-header>
    <img mat-card-avatar [src]="user.avatar" height="40" />
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>{{ article?.date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="name" [routerLink]="article?.id">{{ article?.name }}</p>
    <p class="title">{{ article?.title }}</p>
    <p class="tags">
      <code>{{ getTags() }}</code>
    </p>
  </mat-card-content>
  <mat-card-actions align=end>
    <button mat-raised-button color="primary" [routerLink]="article?.id">
      OPEN
    </button>
  </mat-card-actions>
</mat-card>