.article-card {
  max-width: 400px;
}

.photo {
  cursor: pointer;
}

.tags {
  color: var(--color-secondary);
}

.name {
  font-weight: bold;
  cursor: pointer;
}

.name:hover {
  color: var(--color-primary);
}
