.app-show-content-host {
    overflow: auto;
    height: 100%;
    padding: 1rem;
}

.app-show-content-page {
    --height: 100%;
    min-height: 90%;
    max-width: 64rem;
    background-color: white;
    padding: 1rem;
    margin: 0 auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

