:root {
  --step: 30;
  --sat: 100%;
  --light: 95%;
  --color: hsl(209, 100%, 71%);
}

.bg-0 {
    background: hsl(calc(var(--step) * 0), var(--sat), var(--light));
  }
  
  .bg-1 {
    background: hsl(calc(var(--step) * 1), var(--sat), var(--light));
  }
  
  .bg-2 {
    background: hsl(calc(var(--step) * 2), var(--sat), var(--light));
  }
  
  .bg-3 {
    background: hsl(calc(var(--step) * 3), var(--sat), var(--light));
  }
  
  .bg-4 {
    background: hsl(calc(var(--step) * 4), var(--sat), var(--light));
  }
  
  .bg-5 {
    background: hsl(calc(var(--step) * 5), var(--sat), var(--light));
  }
  
  .bg-6 {
    background: hsl(calc(var(--step) * 6), var(--sat), var(--light));
  }

  .bg-7 {
    background: hsl(calc(var(--step) * 7), var(--sat), var(--light));
  }

  .bg-8 {
    background: hsl(calc(var(--step) * 8), var(--sat), var(--light));
  }

  .bg-9 {
    background: hsl(calc(var(--step) * 9), var(--sat), var(--light));
  }

  .bg-10 {
    background: hsl(calc(var(--step) * 10), var(--sat), var(--light));
  }

  .bg-11 {
    background: hsl(calc(var(--step) * 11), var(--sat), var(--light));
  }
