<div class="app-nav-bar" [class.collapsed]="collapsed">
  <button
    mat-icon-button
    (click)="collapsed = !collapsed"
    class="collapse-button"
  >
    <mat-icon> navigate_next </mat-icon>
  </button>
  <div class="content">
    <div class="header">
      <h2>Filter:</h2>
      <div class="search-bar">
        <mat-icon> search </mat-icon>
        <input type="search" [formControl]="searchField" />
      </div>
    </div>
    <div class="result">
      <nav class="result-nav">
        <ul>
          <li *ngFor="let a of articles">
            <a [routerLink]="getLink(a)" routerLinkActive="active">
              <app-article-index2 [article]="a"></app-article-index2>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
