.example-accordion {
  display: block;
  max-width: 500px;
}

.app-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.app-accordion-item + .app-accordion-item {
  border-top: none;
}

.app-accordion-item-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.app-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.app-accordion-item-header,
.app-accordion-item-body {
  padding-left: 1em;
}

.app-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.app-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.app-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-tag {
  background: rgba(10, 133, 255, 0.14);
  color: rgb(10, 133, 255);
  border-radius: 0.5em;
  padding: 0 4px;
  margin-right: 2px;
}

.icon {
  transition: transform 200ms;
}

.icon-expanded {
  transform: rotate(90deg);
}
