:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-main-title-bar {
  flex: 0 0 auto;
}

.app-main-nav-container {
  flex: 1 1 auto;
}

.app-main-nav-content {
  overflow: hidden;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-icon {
  flex: 0 0 auto;

  position: absolute;
  left: 8px;
  top: 8px;

  cursor: pointer;
  transform: rotate(180deg);
  --transition: transform 500ms;
}

.mat-drawer {
  transition: width 1000ms;
}

.app-nav-content {
  --transition: width 500ms;
}

.nav-closed .app-nav-content {
  width: 4rem;
}

.nav-closed .app-nav-content > * {
  display: none;
}

.nav-closed .close-icon {
  transform: rotate(0deg);
}

.nav-closed .search {
  display: none;
}

.search {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  margin: 8px;
  margin-right: 32px;

  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding: 8px;
}

.search input {
  flex: 1 1 auto;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.65);
}

.search input:focus,
.search input:hover {
  outline: none;
}
