.title-bar {
  background: var(--color-primary);
  color: var(--color-on-primary);

  display: flex;

  height: 100%;
  padding: 1rem;
}

.title-bar__title H1 {
  margin: 0;
}

.title-bar__nav {
  margin: 0 auto;
  flex: 0 0 auto;
}

.title-bar__nav a,
.title-bar__nav a:visited {
  display: inline-block;
  color: var(--color-on-primary);
  padding: 0.5em 1em;
  text-decoration: none;
}

.title-bar__nav li {
  list-style-type: none;
}

.title-bar__nav a:hover {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.title-bar__nav a.active {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
